# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod
absl-py==2.1.0
accelerate==0.30.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
altair==4.2.2
async-timeout==5.0.1
attrs==25.1.0
bitsandbytes==0.44.0
Bottleneck==1.4.2
certifi==2025.1.31
charset-normalizer==3.4.1
diffusers==0.25.0
easygui==0.98.3
einops==0.7.0
entrypoints==0.4
filelock==3.17.0
frozenlist==1.5.0
fsspec==2024.12.0
ftfy==6.1.1
grpcio==1.70.0
huggingface-hub==0.24.5
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
-e git+https://github.com/kohya-ss/sd-scripts@6e3c1d0b58f03522f294dc2b0acbbbecc944d018#egg=library
lightning-utilities==0.12.0
lion-pytorch==0.0.6
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.1.0
networkx==3.4.2
numexpr==2.10.2
numpy==2.2.2
opencv-python==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==11.1.0
prodigyopt==1.0
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytorch-lightning==1.9.0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.7.0
rpds-py==0.22.3
safetensors==0.4.2
six==1.17.0
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tokenizers==0.19.1
toml==0.10.2
toolz==1.0.0
torch
torchmetrics==1.6.1
torchvision
tqdm==4.67.1
transformers==4.44.0
triton==2.1.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
voluptuous==0.13.1
wcwidth==0.2.13
Werkzeug==3.1.3
xformers
yarl==1.18.3
zipp==3.21.0
